<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> ID. </th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="hypertension">
        <th mat-header-cell *matHeaderCellDef> Hypertension </th>
        <td mat-cell *matCellDef="let element"> {{element.hypertension}} </td>
      </ng-container>

      <ng-container matColumnDef="pressure">
        <th mat-header-cell *matHeaderCellDef> Pressure </th>
        <td mat-cell *matCellDef="let element"> {{element.pressure}} </td>
      </ng-container>

      <ng-container matColumnDef="sugar">
        <th mat-header-cell *matHeaderCellDef> Sugar </th>
        <td mat-cell *matCellDef="let element"> {{element.sugar}} </td>
      </ng-container>

      <ng-container matColumnDef="overweight">
        <th mat-header-cell *matHeaderCellDef> Overweight </th>
        <td mat-cell *matCellDef="let element"> {{element.overweight}} </td>
      </ng-container>

      <ng-container matColumnDef="smooking">
        <th mat-header-cell *matHeaderCellDef> Smooking </th>
        <td mat-cell *matCellDef="let element"> {{element.smooking}} </td>
      </ng-container>

      <ng-container matColumnDef="alcohol">
        <th mat-header-cell *matHeaderCellDef> Alcohol </th>
        <td mat-cell *matCellDef="let element"> {{element.alcohol}} </td>
      </ng-container>

      <ng-container matColumnDef="exercise">
        <th mat-header-cell *matHeaderCellDef> Exercise </th>
        <td mat-cell *matCellDef="let element"> {{element.exercise}} </td>
      </ng-container>

      <ng-container matColumnDef="drugs">
        <th mat-header-cell *matHeaderCellDef> Drugs </th>
        <td mat-cell *matCellDef="let element"> {{element.drugs}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element"> <button mat-button color="primary" (click)="editRecord(element._id)">Edit
        </button> </td>
      </ng-container>

      <ng-container matColumnDef="show">
        <th mat-header-cell *matHeaderCellDef> View </th>
        <td mat-cell *matCellDef="let element"> <button mat-button (click)="showRecord(element._id)">Show
        </button> </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Destroy </th>
        <td mat-cell *matCellDef="let element"> <button mat-button color="warn" (click)="deleteRecord(element._id)">Delete
        </button> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator  [length]="totalpage" [pageSize]="pagesize"
    (page)="pagechange($event)">
    </mat-paginator>
  </div>
  