<mat-spinner class="mat-middle" *ngIf="isloading"></mat-spinner>
<mat-card *ngIf="!isloading">
  <form class="example-form" #form="ngForm" (submit)="submit(form)">
    <mat-form-field class="example-full-width">
      <input type="text" name="name" matInput [(ngModel)]="insurance.name" #name="ngModel" required placeholder="Name" required>
    </mat-form-field>
    <div class="example-full-width">
      <label id="example-radio-group-label">Gender</label>
      <mat-radio-group [(ngModel)]="insurance.gender" [ngModelOptions]="{standalone: true}">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>      
    </div>
    <mat-form-field class="example-full-width">
      <input type="number" name="age" matInput [(ngModel)]="insurance.age" #age="ngModel" placeholder="Age" required>
    </mat-form-field>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Current health</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="example-full-width">
          <label id="example-radio-group-label">Hypertension</label>
          <mat-radio-group [(ngModel)]="insurance.hypertension" [ngModelOptions]="{standalone: true}">
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>      
        </div>
        <div class="example-full-width">
          <label id="example-radio-group-label">Blood pressure</label>
          <mat-radio-group [(ngModel)]="insurance.pressure" [ngModelOptions]="{standalone: true}">
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="example-full-width">
          <label id="example-radio-group-label">Blood sugar</label>
          <mat-radio-group [(ngModel)]="insurance.sugar" [ngModelOptions]="{standalone: true}">
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="example-full-width">
          <label id="example-radio-group-label">Overweight</label>
          <mat-radio-group [(ngModel)]="insurance.overweight" [ngModelOptions]="{standalone: true}">
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Habits</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="example-full-width">
          <label id="example-radio-group-label">Smooking</label>
          <mat-radio-group [(ngModel)]="insurance.smooking" [ngModelOptions]="{standalone: true}">
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>      
        </div>
        <div class="example-full-width">
          <label id="example-radio-group-label">Alcohol</label>
          <mat-radio-group [(ngModel)]="insurance.alcohol" [ngModelOptions]="{standalone: true}">
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="example-full-width">
          <label id="example-radio-group-label">Daily exercise</label>
          <mat-radio-group [(ngModel)]="insurance.exercise" [ngModelOptions]="{standalone: true}">
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="example-full-width">
          <label id="example-radio-group-label">Drugs</label>
          <mat-radio-group [(ngModel)]="insurance.drugs" [ngModelOptions]="{standalone: true}">
            <mat-radio-button value="true">Yes</mat-radio-button>
            <mat-radio-button value="false">No</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-card-content>
    </mat-card>
    <button class="middle" mat-raised-button color="primary" [disabled]="form.invalid">Calculate insurance premium</button>
  </form>
</mat-card>
