<mat-spinner class="mat-middle" *ngIf="isloading"></mat-spinner>
<mat-card *ngIf="!isloading">
  <form class="example-form" #form="ngForm" (submit)="submit()">
    <mat-form-field class="example-full-width">
      <input type="text" name="review" matInput [(ngModel)]="reviewPayload.review" #review="ngModel" required placeholder="Review"
        required>
    </mat-form-field>
    <button class="middle" mat-raised-button color="primary" [disabled]="form.invalid">Create Review</button>
  </form>
</mat-card>