<mat-spinner class="mat-middle" *ngIf="isloading"></mat-spinner>
<mat-card *ngIf="!isloading">
  <form class="example-form" #form="ngForm" (submit)="submit()">
    <mat-form-field class="example-full-width">
      <input type="text" name="name" matInput [(ngModel)]="sentiment.name" #name="ngModel" required placeholder="Name"
        required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Choose an product</mat-label>
      <mat-select [(ngModel)]="sentiment.product_id" name="product_id">
        <mat-option *ngFor="let product of products" [value]="product._id">{{ product.product_name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="date" name="start_date" matInput [(ngModel)]="sentiment.start_date" #start_date="ngModel"
        placeholder="Start Date">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="date" name="end_date" matInput [(ngModel)]="sentiment.end_date" #end_date="ngModel"
        placeholder="End Date">
    </mat-form-field>
    <button class="middle" mat-raised-button color="primary" [disabled]="form.invalid">Create Sentiment
      Analysis</button>
  </form>
</mat-card>