<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h4>{{ username }}</h4>
      <h6>{{ email }}</h6>
    </div>
    <img [src]="path" alt="Meenakshi">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">Products</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/reviews">Reviews</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/sentiments">Sentiments</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/sentiment/new">New Sentiment</a>

</mat-nav-list>
